# importing libraries

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.ensemble import AdaBoostClassifier
import warnings
warnings.filterwarnings("ignore")

# reading dataset

In [127]:
df=pd.read_csv("fake_currency.csv")

In [128]:
df

      variance  skewness  kurtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [152]:
df.describe()

          variance     skewness     kurtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

# checking for null values

In [154]:
df.isnull().sum()

variance    0
skewness    0
kurtosis    0
entropy     0
class       0
dtype: int64

# allocating data to x and y

In [155]:
y=df["class"]

In [156]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [157]:
x=df.iloc[:,0:4]

In [158]:
x

      variance  skewness  kurtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

# feature engineering

In [159]:
scale=StandardScaler()
x=pd.DataFrame(scale.fit_transform(x))
x

             0         1         2         3
0     1.121806  1.149455 -0.975970  0.354561
1     1.447066  1.064453 -0.895036 -0.128767
2     1.207810 -0.777352  0.122218  0.618073
3     1.063742  1.295478 -1.255397 -1.144029
4    -0.036772 -1.087038  0.736730  0.096587
...        ...       ...       ...       ...
1367 -0.009711 -0.097693 -0.660962  0.300996
1368 -0.641313 -1.158984  1.179023  0.730127
1369 -1.472357 -2.621646  3.759017 -0.754884
1370 -1.406693 -1.756471  2.552043 -0.043158
1371 -1.047122 -0.439822  0.298616  1.136464

[1372 rows x 4 columns]

In [160]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [161]:
x_train

             0         1         2         3
1326 -0.608093  0.128031 -0.519554 -0.400259
1109 -0.296406  0.200335 -1.011574 -0.713032
1139 -0.688502 -1.431973  1.011771  0.983173
657  -0.250459  1.067981 -1.051751 -0.636089
704   1.150169  0.864484 -0.754035  0.506020
...        ...       ...       ...       ...
763  -0.015348 -0.351999 -0.331817  0.734436
835  -0.484313 -0.320961 -0.380541  0.717814
1216  0.058684 -0.157307 -0.837939  0.613764
559   0.556973 -0.370692  0.875736  1.079852
684  -0.883138  1.516974  0.289262 -1.735673

[1097 rows x 4 columns]

In [162]:
x_test

             0         1         2         3
1023 -0.775949 -2.162784  2.047315  0.089207
642   1.653349 -0.332952 -0.248689  1.098326
1196 -0.861672  0.300848 -0.774320 -1.285631
31    0.371135  0.290621  0.443400  0.800318
253   1.707787  0.227487 -0.642858  1.122942
...        ...       ...       ...       ...
1342 -0.767715 -1.320176  1.038021  1.144464
251   0.049574  1.395650 -0.717038 -1.523889
1256 -0.914562  0.187279 -0.884499 -0.586809
966   0.019085  0.280394 -1.342899 -1.247445
1096 -1.689267  0.706820 -0.191611 -2.035543

[275 rows x 4 columns]

In [163]:
y_train

1326    1
1109    1
1139    1
657     0
704     0
       ..
763     1
835     1
1216    1
559     0
684     0
Name: class, Length: 1097, dtype: int64

In [164]:
y_test

1023    1
642     0
1196    1
31      0
253     0
       ..
1342    1
251     0
1256    1
966     1
1096    1
Name: class, Length: 275, dtype: int64

# model building

# using naive bayes classifier

In [165]:
model=GaussianNB()

In [166]:
model.fit(x_train,y_train)

GaussianNB()

# testing dataset

In [167]:
y_pred=model.predict(x_test)

In [168]:
y_pred

array([1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1], dtype=int64)

# accuracy score

In [169]:
ac=accuracy_score(y_test,y_pred)
ac

0.8327272727272728

# using knn classifier

In [170]:
model1=KNeighborsClassifier(n_neighbors=5)

In [171]:
model1.fit(x_train,y_train)

KNeighborsClassifier()

In [172]:
y_pred1=model1.predict(x_test)
y_pred1

array([1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1], dtype=int64)

In [173]:
ac=accuracy_score(y_test,y_pred1)
ac

1.0

# using adaboost classifier

In [174]:
model2=AdaBoostClassifier()
model2.fit(x_train,y_train)

AdaBoostClassifier()

In [175]:
y_pred2=model2.predict(x_test)
y_pred2

array([1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1], dtype=int64)

In [176]:
ac2=accuracy_score(y_test,y_pred2)
ac2

1.0

In [151]:
cm=confusion_matrix(y_test,y_pred2)
cm

array([[157,   0],
       [  0, 118]], dtype=int64)